/* customCalendarStyles.css */

/* Style for navigation buttons */
.custom-calendar .rbc-btn-group button {
  background-color: #d6dffe;
  color: black;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 20px;
}

/* Hover style for navigation buttons */
.custom-calendar .rbc-btn-group button:hover {

  background-color: #adb5bd;

}

/* Style for current date background */
.custom-calendar .rbc-today {

  background-color: #edfafc; /* Adjust the color as needed */

}

/* Style for the center heading */
.custom-calendar .rbc-toolbar-label {
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: 900;
  text-transform: uppercase;
}

.custom-sat {
    color: red; /* Set the desired color for Saturday */
  }
  
  .custom-sun {
    color: red; /* Set the desired color for Sunday */
  }
  


/* Custom styles for month view date text color */
.rbc-month-view .rbc-date-cell .custom-sat{
    color: red; 
}
/* Set the desired text color */
  

  
  /* Custom styles for selected view buttons */
  .custom-calendar .rbc-toolbar button.rbc-active {

    background-color: #343a40; /* Set the desired background color */

    color: white; /* Set the text color for selected buttons */
  }



  /* Custom styles for previous month dates in month view */
.rbc-month-view .rbc-off-range {
    background-color: #f0f0f0; /* Set the desired background color */
  }

